In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import nan_euclidean_distances

dataset = pd.read_csv("C:/Users/elygl/Documents/mlclass-master/mlclass-master/01_Preprocessing/diabetes_dataset.csv")

In [2]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
4,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0

## View the amount of missing data

In [3]:
dataset.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

## Percentage of missing data

In [4]:
size = dataset.shape[0]*8
missing_data = 0
col = ['Pregnancies',"Glucose",'BloodPressure','SkinThickness',
       'Insulin','BMI','DiabetesPedigreeFunction','Age']
for i in col:
    missing_data += dataset[i].isnull().sum()
"The amount of missing data in the dataset represents {:%} of 4.576 data".format(missing_data/size)

'The amount of missing data in the dataset represents 14.248252% of 4.576 data'

In [5]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,572.000000,567.000000,537.000000,345.000000,198.000000,561.000000,572.000000,572.000000,572.000000
mean,4.106643,121.647266,73.150838,29.356522,156.934343,32.327629,0.459121,34.043706,0.358392
std,3.446995,30.132084,12.347184,10.433503,119.066934,6.735437,0.336124,12.103893,0.479948
min,0.000000,44.000000,30.000000,7.000000,16.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,100.000000,65.000000,22.000000,77.500000,27.500000,0.236000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,30.000000,129.500000,32.000000,0.344500,30.000000,0.000000
75%,6.000000,140.000000,80.000000,36.000000,185.000000,36.600000,0.605500,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,744.000000,57.300000,2.329000,81.000000,1.000000

In [6]:
#data.to_csv('diabetes_dataset2.csv', encoding="utf-8")
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

rmse = lambda y, yhat: np.sqrt(mean_squared_error(y, yhat))

def optimize_k(data, target):
    errors = []
    for k in range(1, 20, 2):
        imputer = KNNImputer(n_neighbors=k)
        imputed = imputer.fit_transform(dataset)
        df_imputed = pd.DataFrame(imputed, columns=dataset.columns)
        
        X = df_imputed.drop(target, axis=1)
        y = df_imputed[target]
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        model = RandomForestRegressor()
        model.fit(X_train, y_train)
        preds = model.predict(X_test)
        error = rmse(y_test, preds)
        errors.append({'K': k, 'RMSE': error})
        
    return errors

In [7]:
k_errors = optimize_k(data=dataset, target='Outcome')
k_errors

[{'K': 1, 'RMSE': 0.3867815921162743},
 {'K': 3, 'RMSE': 0.3909575758147634},
 {'K': 5, 'RMSE': 0.38861851194466657},
 {'K': 7, 'RMSE': 0.3871770744201182},
 {'K': 9, 'RMSE': 0.3848421471991725},
 {'K': 11, 'RMSE': 0.390483535253854},
 {'K': 13, 'RMSE': 0.3919771510643468},
 {'K': 15, 'RMSE': 0.3830041434671999},
 {'K': 17, 'RMSE': 0.38761477963476104},
 {'K': 19, 'RMSE': 0.38093363566717064}]

In [8]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=19)
imputed = imputer.fit_transform(dataset)
df_imputed = pd.DataFrame(imputed, columns=dataset.columns)
df_imputed

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.000000,176.368421,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.000000,71.263158,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,30.368421,259.473684,23.3,0.672,32.0,1.0
3,0.0,137.0,40.0,35.000000,168.000000,43.1,2.288,33.0,1.0
4,5.0,116.0,74.0,25.631579,117.631579,25.6,0.201,30.0,0.0
...,...,...,...,...,...,...,...,...,...
567,9.0,89.0,62.0,21.526316,79.526316,22.5,0.142,33.0,0.0
568,2.0,122.0,70.0,27.000000,138.842105,36.8,0.340,27.0,0.0
569,5.0,121.0,72.0,23.000000,112.000000,26.2,0.245,30.0,0.0
570,1.0,126.0,60.0,30.210526,147.526316,30.1,0.349,47.0,1.0
571,1.0,93.0,70.0,31.000000,66.368421,30.4,0.315,23.0,0.0

In [9]:
df_imputed.to_csv('diabetes_dataset2.csv', encoding="utf-8")

In [ ]:
df_imputed